# Ignore everything by default
*

# Allow folders
!src/
!outputs/
!fake_images/
!screenovi/

# Allow files inside allowed folders
!src/*.py
!outputs/**
!fake_images/**
!screenovi/**

# Allow images
!outputs/*.png
!outputs/*.jpg
!fake_images/*.png
!fake_images/*.jpg
!screenovi/*.png
!screenovi/*.jpg

# Allow root files
!README.md
!.gitignore

# Still ignore heavy stuff
*.pth
data/
celeba/
img_align_celeba/
venv/
.venv/
__pycache__/
